#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

body {
    background-color: rgb(11, 211, 246);

}

* {
    box-sizing: border-box;
}

input {

    width: 520px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 4%;
    font-size: 18px;


}

input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(248, 234, 234);
    outline-color: rgb(16, 116, 110);
}

#btn {
    margin-top: 4%;
    height: 60px;
    width: 100%;
    font-size: 25px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-radius: 10px;



}

#home {
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: thick;
    width: 98%;
    height: 100px;
    color: rgb(152, 147, 147);
    background-color: rgb(10, 83, 239);


}

h1 {
    margin-top: 2%;
    margin-bottom: 3%;
 text-align: center;
    color: rgb(36, 33, 33);


}

h2 {
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
    color: rgb(46, 45, 45);
}

#btn1 {
    margin-top: 2%;
    margin-left: 70%;
    margin-bottom: 2%;
    height: 60px;
    width: 16%;
    font-size: 25px;
    background-color: #1171d1;
    color: rgb(1, 1, 15);
    
}
#btn1:hover{
  background-color:rgba(35, 142, 208, 0.958);
}

#contain {
    margin-top: 5%;
    display: -ms-inline-flexbox;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-left: 3%;
    margin-right: 2%;
}



