h1{
   
    margin-left:2%;
    color: rgb(24, 24, 25);
}
.save{
    margin-top: 2%;
    margin-left: 71%;
    margin-bottom: 2%;
    height: 60px;
    width: 15%;
    align-items: right;
    font-size: 25px;
    background-color: #05fc89;
    color: rgb(1, 1, 15);
}
#addbtn2{
 
    margin-left: 78%;
  
    height: 60px;
    width: 15%;
    font-size: 25px;
    background-color: #0877f5d4;
    color: rgb(17, 17, 20);
}
#lable{
    margin-left:2%;
    color: rgb(24, 24, 25);
    font-size: 20px;
}
#head{
display: flex;
align-items: center;
width: 93%;
height: 100px;

}
#name{
    margin-top: 2%;
   
}
#Qname{
    margin-left:2%;
    margin-right:2%;
    font-size: 25px;
   

}
#Addcontainer{
    margin-left: 2%;
    box-sizing: border-box;
 color: rgb(17, 15, 15);  
 border-style:double;
 width: 93%;
 height: 300px; 
 margin-top: 2%;
}

#input{
margin-right: 5%;
width: 80%;
padding: 16px 22px;
margin: 8px 0;
display: inline-block;
border: 4px solid rgb(60, 50, 50);

border-radius: 4px;
box-sizing: border-box
}

#addbtn3{
 
    margin-left: 78%;
  
    height: 60px;
    width: 15%;
    font-size: 25px;
    background-color: #2b0eebd4;
    color: rgb(17, 17, 20);
}
#addoption{
    margin-top: 5%;
    margin-left: 78%;
  
    height: 60px;
    width: 15%;
    font-size: 25px;
    background-color: #9752fed4;
    color: rgb(17, 17, 20);
}
.input1{
    
    width: 50%;
    padding: 16px 22px;
    margin: 2px ;
  
  align-items: center;
  justify-content: center;

    border: 4px solid rgb(62, 62, 62);
    text-align: center;
    border-radius: 28px;
    box-sizing: border-box
    }

