#contain {
    margin-top: 5%;
    display: -ms-inline-flexbox;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    margin-left: 3%;
    margin-right: 2%;
}

body {
    background-color: rgb(11, 211, 246);

}

#container1 {
    box-sizing: border-box;
    color: rgb(17, 15, 15);
    border-style: double;
    width: 93%;
    height: 400px;
    margin-top: 2%;

}

#save {
    margin-top: 2%;
    margin-left: 71%;
    margin-bottom: 2%;
    height: 60px;
    width: 15%;
    align-items: right;
    font-size: 25px;
    background-color: #05fc89;
    color: rgb(1, 1, 15);
}

#addbtn {
    margin-left: 78%;
    margin-top: 2%;
    font-size: 25px;
    height: 60px;
    width: 17%;
    background-color: #00CC66;
    color: rgb(10, 10, 13);
}

#addbtn:hover {
    background-color: rgb(32, 207, 119);
}

#home1 {
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: thick;
    width: 93%;
    height: 100px;
    color: rgb(152, 147, 147);
    background-color: rgb(10, 83, 239);


}

#heading {
    color: rgb(188, 243, 5);
    font-size: 25px;
}


#btn1 {
    margin-top: 2%;
    margin-left: 65%;
    margin-bottom: 2%;
    height: 60px;
    width: 15%;
    font-size: 25px;
    background-color: #0e7cea;
    color: rgb(1, 1, 15);

}

#btn1:hover {
    background-color: rgba(8, 150, 237, 0.958);
}


#addbtn1 {
    margin-left: 76%;

    margin-top: 2%;
    font-size: 25px;
    height: 60px;
    width: 14%;
    background-color: #00CC66;
    color: rgb(10, 10, 13);
}

#addbtn1:hover {
    background-color: rgb(17, 221, 119);
}

.editbtn {
    margin-left: 80%;
    margin-right: 3%;
    margin-top: 2%;
    font-size: 25px;
    height: 50px;
    width: 12%;
    background-color: #c8ef04;
    color: rgb(10, 10, 13);
}

.deletebtn {
    margin-left: 83%;
    margin-top: 2%;
    font-size: 25px;
    height: 50px;
    width: 12%;
    background-color: #ee0707;
    color: rgb(10, 10, 13);
}


#headname {
    margin-left: 15%;
    text-align: left;
}

#index {
    margin-left: 15%;
    text-align: left;
}

#homepage {
    display: flex;
    align-items: center;
}

#contain2 {
    display: flex;
    align-items: center;
}