
#contain {
    margin-top: 5%;
    display: -ms-inline-flexbox;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-left: 3%;
   
}

body{
    background-color: rgb(11, 211, 246);

}
#heading{
    color: rgba(171, 250, 81, 0.915);
}
#home2 {
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: thick;
    width: 93%;
    height: 100px;
    color: rgb(152, 147, 147);
    background-color: rgb(10, 83, 239);


}
#container2{
 box-sizing: border-box;
 color: rgb(17, 15, 15);  
 border-style:double;
 width: 93%;
 height: 400px; 
 margin-top: 2%;

}
#btn2 {
    margin-top: 2%;
    margin-left: 66%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 60px;
    width: 14%;
    font-size: 25px;
    background-color:#0e7cea;
    color: rgb(1, 1, 15);
    
}
#btn2:hover{
  background-color:rgba(8, 150, 237, 0.958);
}



#addbtn3{
    margin-left: 77%;
    margin-right: 2%;
    margin-top: 2%;
    font-size: 25px;
    height: 60px;
    width: 13%;
    background-color:#00CC66;
    color: rgb(10, 10, 13);
}
#addbtn3:hover{
    background-color: rgb(45, 220, 132);
}


h2{
    color:rgb(17, 16, 16) ;
}